{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

    {% for user in users %}
        <div class="row">
        {{ user.firstname }}
        <a href="{{ path('user_remove', {'id': user.id}) }}"> Remove {{ user.firstname }}</a>
        <a href="/admin/user/update/{{user.id}}">Update</a>
        </div>
    {% endfor %}
{% endblock %}