{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

    {% for user in users %}
        <p>{{ user.firstname }} | <a href="{{ path('user_remove', {'id': user.id}) }}"> Remove</a> | <a href="{{ path('update', {'id': user.id}) }}">Update</a> </p>
    {% endfor %}
{% endblock %}