{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

    <h1>{{ user.firstname }}</h1>
    <div class="example-wrapper">
        {{ form_start(form) }}
        {{ form_row(form) }}
        {{ form_end(form) }}

        This friendly message is coming from:
        <ul>
        </ul>
    </div>
{% endblock %}