{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

    {{ form_start(form) }}
   <p></p> {{ form_row(form) }}
    {{ form_end(form) }}
{% endblock %}
