{% extends 'base.html.twig' %}

{% block title %}Meety Home Page{% endblock %}

{% block body %}

<section>
    <h1>All conferences</h1>
    {% if numPage is defined %}
    <p>Page {{ numPage + 1 }}</p>
    {% endif %}
    <div>
        {% for conference in conferences %}
        <article>
            {{ include('conference/detail.html.twig', {'conference' : conference}) }}
        </article>
        {% endfor %}
    </div>
    <div>
        {% if numPagePrevious is defined %}
            <a href="{{ path('page',{'numPage': numPagePrevious }) }}" role="button">Previous</a>
        {% endif %}
        {% if numPageNext is defined %}
            <a href="{{ path('page',{'numPage': numPageNext }) }}" role="button">Next</a>
        {% endif %}
    </div>
</section>

{% endblock %}
